.profile-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  padding: 30px;
  border-radius: 12px;
}

.controls-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Allows items to wrap onto the next line on smaller screens */
  gap: 10px;
  /* Adds some space between items */
}

.playlist-dropdown {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.uploaded-playlists {
  list-style-type: none;
  /* Remove bullet points */
  padding: 0;
}

.playlist-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.playlist-name {
  font-weight: bold;
}

.playlist-detail,
.playlist-description {
  font-size: 0.9em;
}

.user-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-details h2 {
  font-size: 2em;
  padding-bottom: 0px;
  line-height: 1;
}

.profile-details p {
  font-size: 1.5em;
}